<div class="container-of-dashboard">

  <form [formGroup]="makhdouminForm" (ngSubmit)="onSubmit()">
    <div class="form-group" formGroupName="personalInfo">
      <label for="name">
        Name: </label>
      <input type="text" placeholder="Name" class="form-control" formControlName="name">
      <!-- addreess  form group-->
      <div class="form-group" formGroupName="address">

        <!-- building number -->
        <label for="buildingNumber">
          building number: </label>
        <input class="form-control" type="text" placeholder="buildingNumber" formControlName="buildingNumber">

        <!-- streetName number -->
        <label for="streetName">
          streetName : </label>
        <input class="form-control" type="text" placeholder="streetName" formControlName="streetName">

        <!-- floorNumber number -->
        <label for="floorNumber">
          floorNumber : </label>
        <input class="form-control" type="text" placeholder="floorNumber" formControlName="floorNumber">

        <!-- flatNumber number -->
        <label for="flatNumber">
          flatNumber : </label>
        <input class="form-control" type="text" placeholder="flatNumber" formControlName="flatNumber">

        <!-- zone number -->
        <label for="zone">
          zone : </label>
        <input class="form-control" type="text" placeholder="zone" formControlName="zone">

        <!-- remarks number -->
        <label for="remarks">
          remarks : </label>
        <input class="form-control" type="text" placeholder="remarks" formControlName="remarks">



      </div>


      <!-- Mobiles  form group-->
      <div class="form-group" formGroupName="Mobiles">

        <!-- MobilePhone number -->
        <label for="MobilePhone">
          MobilePhone number: </label>
        <input class="form-control" type="text" placeholder="MobilePhone" formControlName="MobilePhone">

        <!-- HomePhone number -->
        <label for="HomePhone">
          HomePhone number: </label>
        <input class="form-control" type="text" placeholder="HomePhone" formControlName="HomePhone">

        <!-- HomePhone number -->
        <label for="fatherPhone">
          fatherPhone number: </label>
        <input class="form-control" type="text" placeholder="fatherPhone" formControlName="fatherPhone">

        <!-- motherPhone number -->
        <label for="motherPhone">
          motherPhone number: </label>
        <input class="form-control" type="text" placeholder="motherPhone" formControlName="motherPhone">

      </div>

      <!-- school  -->
      <label for="motherPhone">
        school: </label>
      <input class="form-control" type="text" placeholder="school" formControlName="school">


      <!-- onlineInfo  form group-->
      <div class="form-group" formGroupName="onlineInfo">

        <!-- onlineInfo number -->
        <label for="facebook">
          facebook number: </label>
        <input class="form-control" type="text" placeholder="facebook" formControlName="facebook">

        <!-- email number -->
        <label for="email">
          email number: </label>
        <input class="form-control" type="text" placeholder="email" formControlName="email">


      </div>
    </div>


      <!-- churchAndSpiritualInfo  form group-->
      <div class="form-group" formGroupName="churchAndSpiritualInfo">

        <!-- class number -->
        <label for="class">
          class number: </label>
        <input class="form-control" type="text" placeholder="class" formControlName="class">

        <!-- fatherOfConfession number -->
        <label for="fatherOfConfession">
          fatherOfConfession number: </label>
        <input class="form-control" type="text" placeholder="fatherOfConfession" formControlName="fatherOfConfession">

        <!-- servantFollowing number -->
      <label for="class">
        servantFollowing number: </label>
      <input class="form-control" type="text" placeholder="servantFollowing" formControlName="servantFollowing">

      <!-- fatherOfConfession number -->
      <label for="chomosya">
        chomosya : </label>
      <input class="form-control" type="text" placeholder="chomosya" formControlName="chomosya">

   <!-- Notes number -->
   <label for="Notes">
    Notes : </label>
  <input class="form-control" type="text" placeholder="Notes" formControlName="Notes">

      </div>



    <button class="btn btn-primary" type="submit" [disabled]="!makhdouminForm.valid">Submit</button>
  </form>


</div>
