<div class="container-of-dashboard">

  <form [formGroup]="makhdouminForm" (ngSubmit)="onSubmit()">
    <div class="form-group" formGroupName="personalInfo">
      <label for="name">
        Name: </label>
      <input type="text" placeholder="Name" class="form-control" formControlName="name">
      <!-- addreess  form group-->
      <div class="form-group" formGroupName="address">

        <!-- building number -->
        <label for="name">
          building number: </label>
        <input type="text" placeholder="buildingNumber" class="form-control" formControlName="buildingNumber">

      </div>

    </div>




    <button class="btn btn-primary" type="submit" [disabled]="!makhdouminForm.valid">Submit</button>
  </form>


</div>
